button {
  color: white;
  width: 30%;
  border: solid 30px rgb(0, 0, 0);
  background: red;
  font-size: 50px;
  border-style: groove;
  border-radius: 50%;
  height: 200px;
  margin-bottom: 40px;
}
.btn4 {
  background: rgb(206, 201, 194);
  width: 100%;
  color: red;
  font-weight: bold;
  text-align: right;
  border: solid 35px navy;
  border-radius: 30%;
  font-style: italic;
}
.btn4:hover {
  background: grey;
  color: white;
}
button:hover {
  background: orange;
}
